body{
    background-color:darkolivegreen;
}

h1 {
    text-align: center;
    font-weight: bold;
    background-color: blanchedalmond;
    padding: 0%;
    margin: 0%;
    border: 2px solid;
    border-color: black;
}

ul, li{
    color: rgb(255, 255, 255);
    padding: 4rem;  
    text-align: center;
    list-style: none;
}